In [1]:
import pandas as pd
cons_info = pd.read_csv("./data/训练组_比特币挖矿_档案明细（20211220）.csv", index_col=0, quotechar='"', encoding="gbk")
elec_day = pd.read_csv("./data/训练组_比特币挖矿_日用电明细（20211217）.csv")
elec_month = pd.read_csv("./data/训练组_比特币挖矿_月用电明细（20211217）.csv")
target = pd.read_csv("./data/训练组_比特币挖矿_疑似用户明细（20211217）.csv ", index_col="id")
print(target.head())

           elec_type_name volt_name       prc_name  contract_cap  run_cap  \
id
329833811        城镇居民生活用电    交流380V  居民合表电价(不满1千伏）            50       50
2294741747       城镇居民生活用电    交流380V  居民合表电价(不满1千伏）           400      400
2654985038       城镇居民生活用电    交流380V  居民合表电价(不满1千伏）           300      300
2674563661       城镇居民生活用电    交流380V  居民合表电价(不满1千伏）            99       99
2695447713       城镇居民生活用电    交流380V  居民合表电价(不满1千伏）            90       90

            shift_no           build_date  cancel_date  chk_cycle  \
id
329833811        NaN  2008-10-31 08:21:23          NaN        240
2294741747       1.0  2016-07-13 17:37:32          NaN         12
2654985038       NaN  2018-10-17 08:28:47          NaN        120
2674563661       NaN  2018-11-22 16:45:09          NaN        120
2695447713       NaN  2019-01-10 15:36:24          NaN        120

                  last_chk_date tmp_name  tmp_date
id
329833811   2008-10-31 00:00:00    非临时用电       NaN
2294741747  2021-01-26 00:00:00    非临时用电       NaN
2654985038  2018-10-17 08:28:47    非临时用电       NaN
2674563661  2018-11-22 16:45:09    非临时用电       NaN
2695447713  2019-01-10 15:36:24    非临时用电       NaN

In [2]:
cons_info

,ID,ELEC_TYPE_NAME,VOLT_NAME,PRC_NAME,CONTRACT_CAP,RUN_CAP,SHIFT_NO,BUILD_DATE,CANCEL_DATE,CHK_CYCLE,LAST_CHK_DATE,TMP_NAME,TMP_DATE,IS_FLAG
,,,,,,,,,,,,,,
1,329465205,乡村居民生活用电,交流220V,居民合表电价(不满1千伏）,4.0,4.0,1.0,2005/6/18,NaN,240.0,2005/6/18,非临时用电,NaN,0
2,329465245,乡村居民生活用电,交流220V,居民合表电价(不满1千伏）,4.0,4.0,1.0,2005/6/18,NaN,240.0,2005/6/18,非临时用电,NaN,0
3,329465357,乡村居民生活用电,交流220V,居民合表电价(不满1千伏）,8.0,8.0,1.0,2005/6/18,NaN,240.0,2005/6/18,非临时用电,NaN,0
4,329465360,乡村居民生活用电,交流220V,居民合表电价(不满1千伏）,2.0,2.0,1.0,2005/6/18,NaN,240.0,2005/6/18,非临时用电,NaN,0
5,329465439,乡村居民生活用电,交流220V,居民合表电价(不满1千伏）,8.0,8.0,1.0,2005/6/18,NaN,240.0,2005/6/18,非临时用电,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8836,2862711473,乡村居民生活用电,交流380V,居民合表电价(不满1千伏）,39.0,39.0,NaN,2019/12/2 16:12:00,NaN,120.0,2019/12/2 16:12:00,非临时用电,NaN,0
8837,2864274650,乡村居民生活用电,交流220V,居民合表电价(不满1千伏）,13.0,13.0,NaN,2019/12/3 16:33:00,NaN,120.0,2019/12/3 16:33:00,非临时用电,NaN,0
8838,2872313739,乡村居民生活用电,交流380V,居民合表电价(不满1千伏）,39.0,39.0,NaN,2019/12/18 14:42:00,NaN,120.0,2019/12/18 14:42:00,非临时用电,NaN,0
8839,2872314719,乡村居民生活用电,交流380V,居民合表电价(不满1千伏）,39.0,39.0,NaN,2019/12/20 10:36:00,NaN,120.0,2019/12/20 10:36:00,非临时用电,NaN,0
8840,2529558569,城镇居民生活用电,交流380V,居民合表电价(不满1千伏）,30.0,30.0,NaN,2018/1/30 14:40:00,NaN,120.0,2018/1/30 14:40:00,非临时用电,NaN,0

In [3]:
elec_day

,id,rq,kwh,kwh_rap,kwh_pap_r1,kwh_pap_r2,kwh_pap_r3,kwh_pap_r4
0,329449398,2020-01-22 00:00:00,11.77,0.0,0.0,7.40,0.0,4.36
1,329449398,2020-01-23 00:00:00,16.54,0.0,0.0,8.68,0.0,7.86
2,329449398,2020-01-24 00:00:00,10.86,0.0,0.0,5.51,0.0,5.36
3,329449398,2020-01-25 00:00:00,10.91,0.0,0.0,6.48,0.0,4.43
4,329449398,2020-01-26 00:00:00,10.85,0.0,0.0,6.32,0.0,4.52
...,...,...,...,...,...,...,...,...
954564,2878334859,2021-10-05 00:00:00,7.22,NaN,0.0,4.49,0.0,2.73
954565,2878334859,2021-10-06 00:00:00,7.23,NaN,0.0,4.48,0.0,2.74
954566,2878334859,2021-10-07 00:00:00,7.20,NaN,0.0,4.48,0.0,2.73
954567,2878334859,2021-10-08 00:00:00,7.23,NaN,0.0,4.50,0.0,2.73
954568,2878334859,2021-10-09 00:00:00,7.22,NaN,0.0,4.48,0.0,2.73

In [4]:
elec_month

                id      ym  pq_f  pq_g  pq_p  pq_z
0        329769614  202001   615   161     0   776
1        329769614  202002   492   154    -1   645
2        329769614  202003   457   114     1   572
3        329769614  202004   522   171     0   693
4        329769614  202005   519   181     0   700
...            ...     ...   ...   ...   ...   ...
194475  2878334859  202106   107    67    -1   173
194476  2878334859  202107   170   112     1   283
194477  2878334859  202108   102    67     0   169
194478  2878334859  202109   112    65    -1   176
194479  2878334859  202110   144    84     1   229

[194480 rows x 6 columns]

In [ ]:
# 居民数据